section.block
    .owl-carousel.owl-theme.owl-loaded#slider
        .slide
            h1 BLOCK
        .slide
            h1 BLOCK2
        .slide
            h1 BLOCK
        .slide
            h1 BLOCK