.main
  .mainLeft
    .mainInfo
      .mainInfo__top
        .avatar__photo
          img(src="assets/img/avatarPhoto.png", alt="")
        .personalData
          .personalData__name
            h3 Петров Владимир Викторович
          .personalData__icon
            img(src="assets/img/icon1.svg", alt="")
            img(src="assets/img/icon2.svg", alt="")
          .personalData__role
            p(class = "Tittle") Роли на платформе
            p(class = "role") Представитель компании
            p(class = "roleText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ...
      .mainInfo__buttons
        a(href="#")
          img(src="assets/img/button1.svg", alt="")
        a(href="#")
          img(src="assets/img/button2.svg", alt="")
        a(href="#")
          img(src="assets/img/button3.svg", alt="")
        a(href="#")
          img(src="assets/img/button4.svg", alt="")
      .mainInfo__needs
        p(class = "Tittle") Потребности
        ul
          li Карьерная консультация
          li Коучинг
      .mainInfo__industry
        p(class = "Tittle") Отрасль/сфера деятельности
        ul
          li Роботизация
      .mainInfo__results
        p(class = "Tittle") Результаты
        button
          span Лаборатория профиля
          img(src="assets/img/icon3.svg", alt="")
    .mainProfiles
      p(class = "Tittle") Аналитика профиля 
      .mainProfiles__top
        .mainProfiles__references
          span.mainProfiles__title Число упоминаний
          span.mainProfiles__main 74
          span.mainProfiles__info Подпись<br> текст
        .mainProfiles__answers
          span.mainProfiles__title Отвечает на запросы
          span.mainProfiles__main 87%
          span.mainProfiles__info Санкт-Петербург,<br> Россия
      include ProfilesSlider

          