.main
  .mainLeft
    .mainInfo
      .mainInfo__top
        .avatar__photo
          img(src="assets/img/avatarPhoto.png", alt="")
        .personalData
          .personalData__name
            h3 Петров Владимир Викторович
          .personalData__icon
            img(src="assets/img/icon1.svg", alt="")
            img(src="assets/img/icon2.svg", alt="")
          .personalData__role
            p(class = "roleTittle") Роли на платформе
            p(class = "role") Представитель компании
            p(class = "roleText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ...
      .mainInfo__buttons
        a(href="#")
          img(src="assets/img/button1.svg", alt="")
        a(href="#")
          img(src="assets/img/button2.svg", alt="")
        a(href="#")
          img(src="assets/img/button3.svg", alt="")
        a(href="#")
          img(src="assets/img/button4.svg", alt="")
          