section.ProfilesSlider
    p(class = "Tittle") Связанные профили
    .owl-carousel.owl-theme.owl-loaded#ProfilesSlider
        .slide
            img(src="assets/img/slide1.png", alt="")
        .slide
            img(src="assets/img/slide2.png", alt="")
        .slide
            img(src="assets/img/slide3.png", alt="")
        .slide
            img(src="assets/img/slide4.png", alt="")
        .slide
            img(src="assets/img/slide5.png", alt="")
        .slide
            img(src="assets/img/slide6.png", alt="")
        .slide
            img(src="assets/img/slide7.png", alt="")
        .slide
            img(src="assets/img/slide4.png", alt="")
        .slide
            img(src="assets/img/slide5.png", alt="")
        .slide
            img(src="assets/img/slide6.png", alt="")
        .slide
            img(src="assets/img/slide7.png", alt="")
        .slide
            img(src="assets/img/slide6.png", alt="")
        .slide
            img(src="assets/img/slide7.png", alt="")
        .slide
            img(src="assets/img/slide4.png", alt="")
        .slide
            img(src="assets/img/slide5.png", alt="")
        .slide
            img(src="assets/img/slide6.png", alt="")
        .slide
            img(src="assets/img/slide7.png", alt="")