header.header
    .headerNav
        a(href="#") Мой рабочий стол
        a(href="#") Картотека
        a(href="#") Мои чаты
        a(href="#") Сервисы
    .headerInfo
        .headerInfo__wallet
            img(src="assets/img/wallet.png", alt="") 
            span 1 590 р
        .headerInfo__book
            img(src="assets/img/book.png", alt="")
        .headerInfo__avatar
            img(src="assets/img/avatar.png", alt="")
            img(src="assets/img/open-avatar.png", alt="", class = "button")

