.menu
  .menu__logo.visible
    a(href="#")
      img(src="assets/img/logo.svg", alt="")
  .openClose
    img(src="assets/img/left.svg", alt="", class = "closeMenu")
    img(src="assets/img/right.svg", alt="", class = "openMenu")
  nav(class = "menu__nav visible")
    a(href="#")
      img(src="assets/img/menu/menu1.svg", alt="")
      span Профиль
    a(href="#")
      img(src="assets/img/menu/menu2.svg", alt="")
      span Проекты
    a(href="#")
      img(src="assets/img/menu/menu3.svg", alt="")
      span Организации
    a(href="#")
      img(src="assets/img/menu/menu4.svg", alt="")
      span Мероприятия
    a(href="#")
      img(src="assets/img/menu/menu5.svg", alt="")
      span Товары
    a(href="#")
      img(src="assets/img/menu/menu6.svg", alt="")
      span Избранное