@charset "UTF-8";
@font-face {
  font-family: "ProximaNova-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNova-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNova-Regular.ttf") format("truetype"); }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:active, a:focus, button:active, button:focus, form:active, form:focus, textarea:active, textarea:focus {
  box-shadow: none;
  outline: none; }

body {
  font-family: Montserrat-Regular, sans-serif;
  background: #f7f1f1; }

.container {
  max-width: 1600px;
  width: 100%;
  margin-left: 280px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px; }
  .header .headerNav {
    max-width: 505px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .header .headerNav a {
      display: inline-block;
      text-decoration: none;
      color: #BDBDC7;
      font-family: ProximaNova-Regular, sans-serif;
      font-weight: 600;
      font-size: 16px;
      transition: .3s; }
      .header .headerNav a:hover {
        color: #000000;
        transition: .3s; }
  .header .headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 280px;
    width: 100%; }
    .header .headerInfo .headerInfo__wallet {
      display: flex;
      align-items: center; }
      .header .headerInfo .headerInfo__wallet img {
        margin-right: 10px; }
    .header .headerInfo .headerInfo__avatar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 70px;
      width: 100%; }
      .header .headerInfo .headerInfo__avatar .button {
        cursor: pointer; }

.main {
  background: #ffffff;
  height: 100vh;
  border-radius: 15px;
  overflow: hidden;
  padding-left: 30px;
  padding-top: 40px; }
  .main .mainLeft {
    display: flex; }
    .main .mainLeft .mainInfo {
      margin-right: 30px; }
      .main .mainLeft .mainInfo .mainInfo__top {
        display: flex;
        margin-bottom: 30px; }
        .main .mainLeft .mainInfo .mainInfo__top .avatar__photo {
          max-width: 180px;
          width: 100%;
          margin-right: 30px; }
        .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__name {
          font-family: ProximaNova-Regular, sans-serif;
          font-weight: 600;
          font-size: 25px;
          margin-bottom: 10px; }
        .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__icon {
          margin-bottom: 10px;
          padding-left: 10px;
          display: flex;
          align-items: center; }
          .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__icon img {
            margin-right: 10px; }
        .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__role {
          display: flex;
          flex-direction: column;
          padding-left: 10px; }
          .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__role span {
            display: block; }
          .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__role .role {
            font-family: ProximaNova-Regular, sans-serif;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 10px;
            color: #777F90; }
          .main .mainLeft .mainInfo .mainInfo__top .personalData .personalData__role .roleText {
            font-family: ProximaNova-Regular, sans-serif;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 10px;
            color: #777F90;
            max-width: 440px;
            width: 100%; }
      .main .mainLeft .mainInfo .mainInfo__buttons {
        max-width: 170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px; }
        .main .mainLeft .mainInfo .mainInfo__buttons a {
          transition: .3s; }
          .main .mainLeft .mainInfo .mainInfo__buttons a:hover {
            filter: invert(70%);
            transition: .3s; }
      .main .mainLeft .mainInfo .mainInfo__needs {
        margin-bottom: 20px; }
        .main .mainLeft .mainInfo .mainInfo__needs ul {
          display: flex;
          list-style-position: inside; }
          .main .mainLeft .mainInfo .mainInfo__needs ul li {
            border: 1px solid #BDBDC7;
            border-radius: 34px;
            overflow: hidden;
            padding: 7px 15px 7px 15px;
            list-style-type: none;
            font-family: ProximaNova-Regular, sans-serif;
            font-size: 14px;
            font-weight: normal;
            color: #777F90;
            margin-right: 10px; }
            .main .mainLeft .mainInfo .mainInfo__needs ul li::before {
              font-family: 'Montserrat', sans-serif;
              content: "●";
              color: #F6D616;
              font-weight: 400;
              padding-right: 7px; }
      .main .mainLeft .mainInfo .mainInfo__industry {
        margin-bottom: 30px; }
        .main .mainLeft .mainInfo .mainInfo__industry ul {
          display: flex;
          list-style-position: inside; }
          .main .mainLeft .mainInfo .mainInfo__industry ul li {
            border: 1px solid #BDBDC7;
            border-radius: 34px;
            overflow: hidden;
            padding: 7px 15px 7px 15px;
            list-style-type: none;
            font-family: ProximaNova-Regular, sans-serif;
            font-size: 14px;
            font-weight: normal;
            color: #777F90;
            margin-right: 10px; }
            .main .mainLeft .mainInfo .mainInfo__industry ul li::before {
              font-family: 'Montserrat', sans-serif;
              content: "●";
              color: #ED5338;
              font-weight: 400;
              padding-right: 7px; }
      .main .mainLeft .mainInfo .mainInfo__results button {
        display: flex;
        max-width: 185px;
        width: 100%;
        padding: 10px 15px;
        background: #4E8EF8;
        cursor: pointer;
        border-radius: 7px;
        max-width: 225px;
        width: 100%;
        border: none;
        transition: .3s; }
        .main .mainLeft .mainInfo .mainInfo__results button:hover {
          background: #406fb9;
          transition: .3s; }
        .main .mainLeft .mainInfo .mainInfo__results button span {
          color: #FFFFFF;
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 14px;
          font-weight: 600;
          margin-right: 15px; }
    .main .mainLeft .mainProfiles {
      max-width: 375px;
      width: 100%; }
      .main .mainLeft .mainProfiles .mainProfiles__top {
        display: flex;
        justify-content: space-between; }
        .main .mainLeft .mainProfiles .mainProfiles__top .mainProfiles__references, .main .mainLeft .mainProfiles .mainProfiles__top .mainProfiles__answers {
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          border-radius: 7px;
          max-width: 180px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px 0; }
        .main .mainLeft .mainProfiles .mainProfiles__top .mainProfiles__title {
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 15px; }
        .main .mainLeft .mainProfiles .mainProfiles__top .mainProfiles__main {
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 72px;
          font-weight: normal;
          margin-bottom: 5px; }
        .main .mainLeft .mainProfiles .mainProfiles__top .mainProfiles__info {
          font-family: ProximaNova-Regular, sans-serif;
          font-size: 14px;
          font-weight: normal;
          color: #777F90;
          float: left;
          max-width: 120px;
          width: 100%; }

.Tittle {
  font-family: ProximaNova-Regular, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px; }

#ProfilesSlider {
  padding: 30px 20px 20px;
  max-width: 375px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  position: relative; }
  #ProfilesSlider .owl-dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 265%);
    margin-top: 0; }
    #ProfilesSlider .owl-dots .owl-dot span {
      background: #BDBDC7; }
    #ProfilesSlider .owl-dots .owl-dot.active {
      border: none; }
      #ProfilesSlider .owl-dots .owl-dot.active span {
        background: #4E8EF8; }
  #ProfilesSlider .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center; }
    #ProfilesSlider .owl-nav button.owl-next, #ProfilesSlider .owl-nav button.owl-prev {
      margin: 0;
      width: 25px;
      height: 25px;
      background: none;
      position: relative;
      display: flex;
      transition: .3s; }
      #ProfilesSlider .owl-nav button.owl-next::after, #ProfilesSlider .owl-nav button.owl-prev::after {
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%; }
      #ProfilesSlider .owl-nav button.owl-next:hover, #ProfilesSlider .owl-nav button.owl-prev:hover {
        filter: opacity(50%);
        transition: .3s; }
      #ProfilesSlider .owl-nav button.owl-next span, #ProfilesSlider .owl-nav button.owl-prev span {
        display: none; }
    #ProfilesSlider .owl-nav button.owl-next {
      margin-left: 30px; }
      #ProfilesSlider .owl-nav button.owl-next::after {
        background-image: url(../img/right.svg); }
    #ProfilesSlider .owl-nav button.owl-prev {
      margin-right: 30px; }
      #ProfilesSlider .owl-nav button.owl-prev::after {
        background-image: url(../img/left.svg); }
  #ProfilesSlider .slide {
    width: 40px;
    height: 40px; }

.menu {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 0px 16px 16px 0px;
  padding-top: 25px;
  margin-top: 10px;
  overflow: visible; }
  .menu .menu__logo {
    margin-bottom: 60px;
    padding-left: 25px; }
  .menu .openClose {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 23%;
    right: 0;
    transform: translate(45%, -50%);
    background: #ffffff;
    cursor: pointer; }
    .menu .openClose img {
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -50%); }
    .menu .openClose .openMenu {
      display: none; }
  .menu nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111B42;
    padding-left: 25px;
    height: 45px;
    margin-bottom: 10px; }
    .menu nav a:hover {
      background: #f7f7f7; }
    .menu nav a img {
      margin-right: 20px; }
